/*kogu lehekülg */
* {
    padding: 0;
    margin: 0;
}



html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}
body {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #d3e0f7;
}

/*grid view */
.col,
.col {
    box-sizing: border-box;
}
.rida::before,
.rida::after {
    content: " ";
    display: table;
}
.rida{
    max-width: 1200px;
    margin:auto;
}
.rida::after {
    clear: both;
}
.col {
    position: relative;
    float: left;
}
.col + .col {
    margin-left: 1.6%;
}
.col1 {width: 6.86666666667%;}
.col2 {width: 15.3333333333%;}
.col3 {width: 23.8%;}
.col4 {width: 32.2666666667%;}
.col5 {width: 40.7333333333%;}
.col6 {width: 49.2%;}
.col7 {width: 57.6666666667%;}
.col8 {width: 66.1333333333%;}
.col9 {width: 74.6%;}
.col10 {width: 83.0666666667%;}
.col11 {width: 91.5333333333%;}
.col12 {width: 100%;
    margin-left: 0;}
/*headeri info*/

menu {
    display: block;
    margin: 0;
    padding: 3.0em 5.0em;
    background-image: url(header_back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #111;
}
#logo {
    display: inline-block;
    padding: 0 1.0em;
    overflow: hidden;
}
#logo > a > img {
    width: 150px;
    height: auto;
}


ul {
    display: inline-block;
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    margin: 0;
}
li a {
    display: block;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0.85em 1.0em;
    text-decoration: none;
    font-size: 1.65em;
}
li a:hover:not(.active) {
    background-color: #c72e45;
}
.active {
    background-color: #181842;
}
#social_btn {
    float: right;
}


/* sisu */

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}
h1 {
    margin: 0.5em 0;
    font-size: 4em;
    line-height: 0.9em
}
.film {
    margin: 5em 0;
}

.filmifoto {
    position: relative;
    max-height: 11.3em;
    max-width: 100%;
}

figcaption {
    position: absolute;
    width: 100%;
    top:1%;
    position: absolute;
    direction:ltr;
}

h3 {
    font-size: 1.2em;
    text-align: justify;
    display: inline-block;
}
.pildipealne {
    display: inline-block;
    background-color: #fff;
}
h3.pildipealne{
    margin: 16px 16px 0 16px;
    padding: 0.3em;
}

p.pildipealne{
    font-size: 0.8em;
    margin: 0px 16px 16px 16px;
    padding: 0em 0.3em 0.3em;
}


h4 {
    font-size: 1.4em;
    text-align: center
}

#kuup2evNr {
    font-size: 4em;
    line-height: 0.8em;
}

#kuup2ev {
    text-align: center;
}

#kp2ev {
    margin: 0;
    padding: 0 1em;
    max-width: 100%;
    height: 15.0em;
    display: block;
}



#filmikirjeldus {
    max-height: 12em;
    text-overflow: "...";
    margin-top: -0.3em;
    display:inline-block;
}

#filmiinfo {
    margin: 1em 0;
    float: right;
    display: inline-block;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.1em;
    color: #333;
}


#fotokonteiner {
    height: 11.7em;
    display:inline-block;
}

