html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}
body {
    display: block;
    background-color: #fff;
}
/*headeri info*/

menu {
    display: block;
    margin: 0;
    padding: 3.0em 5.0em;
    background-image: url(header_back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #111;
}
.logo {
    display: inline-block;
    padding: 0 1.0em;
    overflow: hidden;
}
.logo > a > img {
    width: 150px;
    height: auto;
}


ul {
    display: inline-block;
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    margin: 0;
}
li a {
    display: block;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0.85em 1.0em;
    text-decoration: none;
    font-size: 1.65em;
}
li a:hover:not(.active) {
    background-color: #c72e45;
}
.active {
    background-color: #181842;
}
#social_btn {
    float: right;
}


/* sisu */

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}
h1 {
    margin: 0.5em;
    font-size: 4em;
    line-height: 0.9em
}
.film {
    margin: 1em 0;
	float: left;
}

.filmifoto {
    position: relative;
	padding: 1em 0;
    max-width: 100%;
}

figcaption {
    position: absolute;
    width: 100%;
    top:1%;
    position: absolute;
    direction:ltr;
}

h3 {
    font-size: 1.2em;
    text-align: justify;
    display: inline-block;
}
.pildipealne {
    display: inline-block;
    background-color: #fff;
}
h3.pildipealne{
    margin: 16px 16px 0 16px;
    padding: 0.3em;
}

p.pildipealne{
	display: inline-block;
    font-size: 0.9em;
    margin: 0 16px;
    padding: 0.3em 0.3em 0.3em;

}


h4 {
    font-size: 1.4em;
    text-align: center
}
.kp2ev {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: block;
	position: relative;
}
.filmikirjeldus {
    text-overflow: "...";
    margin-top: -0.3em;
	padding: 1em;
    display:inline-block;
}

.filmiinfoblokk {
	margin: 0;
    float: right;
    display: inline-block;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.2em;
    color: #666;
}


.fotokonteiner {
	max-width: 100%;
    display:inline-block;
}




.n2dalaP2ev {
	text-align: right;
	font-size: 4em;
	line-height: 0.8em;
	margin: 0;
}

.aeg {
	margin: 0;
}

.filmiinfo {
	padding: 1em 0.2em
}

.kuup2ev {
	margin: 0;
	padding: 0;
	text-align: right;
	line-height: 1.3em;
}
