body {
	background-color:rgb(240, 240, 240);
	font-family:sans-serif;
	margin:0px;
	
}

#site_name {
	font-family:Impact, Charcoal, sans-serif;
	font-size:4em;
	background-color:rgb(0, 128, 0);
	color:white;
	padding-left:8px;
	margin-top:5px;
	margin-bottom:3px;
}

.nav {
	list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
	background-color:rgb(0, 128, 0);
}

.nav li {
	float: left;
}

.nav li a {
	display: block;
	padding: 14px 16px;
	color: white;
	text-decoration: none;
}

.nav li a:hover {
	background-color:rgb(0, 77, 0);
}

a.active {
	background-color: rgb(50, 204, 0)
}

.content {
	padding: 20px;
	font-size: 1.2em;
}

.pic1 {
	float:right;
	margin:0 0 10px 10px;
	border: 1px solid gray;
}

.pic2 {
	float:left;
	margin: 0 10px 10px 0;
	border: 1px solid gray;
}

.divclear {
	clear: left;
}

button {
	border: none;
	color: white;
	background-color:rgb(0, 128, 0);
	font-size:1.2em;
}

.sbutton {
	border: none;
	color: white;
	background-color:rgb(0, 128, 0);
	font-size:1.2em;
}